.Title {
  margin-top: 2rem;
}
.Html {
  color: #e34c26;
}
.Css {
  color: #264de4;
}

.Sass {
  color: #cd6799;
}

.Bootsrap {
  color: #563d7c;
}

.JsSkill {
  color: #ffff00;
}

.React {
  color: #61dbfb;
}

.Sql {
  color: #00758f;
}

.Graphql {
  color: #e535ab;
}
